<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chatroom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <!--https://cdnjs.com/libraries/socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>


    <script type="text/javascript">


        let socket
        const messages = []
        let matches = []


        window.addEventListener('load', function () {

            socket = io.connect('http://' + document.domain + ':' + location.port + '/chatroom');
            document.getElementById('files').addEventListener('change', handleFileSelect, false);




            socket.addEventListener('connect', function () {
                socket.emit('join', {})
            });


            socket.addEventListener('status', function (data) {
                messages.push(data)
                const statusMessage = document.createElement("div");
                statusMessage.className = 'message status-message'
                statusMessage.innerHTML = data.msg;
                document.querySelector('#chat-window').appendChild(statusMessage);
            });


            socket.addEventListener('message', function (data) {

                if (!data.msg || !data.msg.trim().length) {
                    return
                }

                chatWindow = document.querySelector('#chat-window')
                messages.push(data)
                const singleMessage = document.createElement("div");

                "{{session['name']}}" == data.author ?
                    singleMessage.className = 'single-message my-message' :
                    singleMessage.className = 'single-message'

                const messageAuthor = document.createElement("div");

                //if last message is of the same authon, dont display the author
                chatWindow.lastChild.firstChild.innerHTML == data.author
                    ? messageAuthor.className = 'message-author-nodisplay'
                    : messageAuthor.className = 'message-author'
                messageAuthor.innerHTML = data.author

                const messageContent = document.createElement("div");
                messageContent.className = 'message-content'
                messageContent.innerHTML = data.msg

                singleMessage.appendChild(messageAuthor)
                singleMessage.appendChild(messageContent)
                chatWindow.appendChild(singleMessage);
                chatWindow.scrollTop = chatWindow.scrollHeight

            });



            //=====SENDING IMAGES =============================================================================================
            socket.on("send-image", function (image) {
                console.log("append image")
                appendImageMessage(image)
            })


            function handleFileSelect() {
                console.log("handled")

                const file = document.querySelector('input[type=file]').files[0];
                const reader = new FileReader();

                reader.addEventListener("load", function () {
                    socket.emit('image-upload', reader.result)
                    console.log("emitted")
                }, false);
                if (file) {
                    reader.readAsDataURL(file);
                }
            }


            function appendImageMessage(data) {
                console.log("appendImageMessage")
                console.log(data)
                const chatWindow = document.querySelector('#chat-window')

                const singleMessage = document.createElement("div");

                "{{session['name']}}" == data.author ?
                    singleMessage.className = 'single-message my-message' :
                    singleMessage.className = 'single-message'

                const messageAuthor = document.createElement("div");

                //if last message is of the same authon, dont display the author
                chatWindow.lastChild.firstChild.innerHTML == data.author
                    ? messageAuthor.className = 'message-author-nodisplay'
                    : messageAuthor.className = 'message-author'
                messageAuthor.innerHTML = data.author

                const messageContent = document.createElement("div");
                messageContent.className = 'message-image'
                const imageContent = document.createElement('img')
                imageContent.className = 'message-image-content'
                imageContent.src = data.msg
                messageContent.appendChild(imageContent)

                singleMessage.appendChild(messageAuthor)
                singleMessage.appendChild(messageContent)

                chatWindow.appendChild(singleMessage);
                chatWindow.scrollTop = chatWindow.scrollHeight



            }


            document.querySelector('#send-button').addEventListener('click', function (event) {
                text = document.querySelector('#message-input').value
                console.log("clicked!")
                document.querySelector('#message-input').value = ""
                socket.emit('text', { msg: text })
            })

            document.querySelector('#message-input').addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.querySelector('#send-button').click();
                }
            });


            document.querySelector('#exit-button').addEventListener('click', function () {
                socket.emit('left', {}, function () {
                    socket.disconnect();
                    window.location.href = 'http://' + document.domain + ':' + location.port;
                });
            })

            document.querySelector('#search-input').addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.querySelector('#search-button').click();
                }
            });

            document.querySelector('#search-button').addEventListener('click', function () {
                 searched = document.querySelector('.search-input').value
                 
                document.querySelector('.search-container').classList.add('active')


                matches = []
               
                if ( searched == "" ) return

                matches = messages.filter((elem) => {
                    return elem.msg.toLowerCase().includes(searched.toLowerCase())
                })
                console.log(matches)
                console.log(document.querySelector('.search-container').classList)
                showMatches(matches)
                searched = ""
            })


            function showMatches(matches) {
                const wall = document.querySelector('#search-result')

                while (wall.childElementCount > 1) {
                    wall.lastChild.remove()
                }

                wall.classList.add('active')
                

                if (!matches.length) {
                    let elem = document.createElement('div')
                    elem.className = "one-result"
                    elem.innerHTML = "Messages not found"
                    wall.appendChild(elem)
                } else {
                    matches.forEach((match) => {
                        let elem = document.createElement('div')
                        elem.className = "one-result"
                        elem.innerHTML = match.author + " - " + match.msg
                        wall.appendChild(elem)

                    }
                    )
                }




            }




            document.querySelector("#close-search").addEventListener('click', function () {
                const element = document.querySelector('#search-result')
                console.log("trying to remove")
                element.classList.remove('active')
                document.querySelector('.search-container').classList.remove('active')
                console.log("closed")
                console.log(document.querySelector('.search-container').classList)
            
            })

        })

    </script>





    <title>Chat App</title>
</head>

<body>

    <div class="chat-container">
        <h2 id="room-number-title">Room {{session['room']}}</h2>
        <div class="chatbox">



            <div id="search-total">


                <div class="search-container">
                    <input onfocusin="this.value=''" id="search-input" class="search-input" type="text"
                        placeholder="Search for messages....">
                    <div class="search-btn" type="button" id="search-button">

                        <img src="/static/search.png" />
                    </div>
                </div>

                <div id="search-result" class="search-result">
                    <div id="close-search">
                        <img src="/static/cross.png" />
                    </div>
                </div>

            </div>



            <div id="chat-window"></div>


            <div id="send-controls">
                <label class="file-upload">
                    <img src="/static/picture.png" />
                    <input type="file" id="files" accept="image/*" />
                </label>

                <div class="message-container">
                    <input id="message-input" class="message-input" type="text" placeholder="Write your message....">
                    <div class="send-btn" type="button" id="send-button">
                        <img src="/static/paper-plane.png" />
                    </div>

                </div>
            </div>

            <div class="button exit-button" id="exit-button">
                <p> Exit chat</p>
                <img src="/static/sign-out.png" />

            </div>


        </div>

    </div>

</body>

</html>